.background-chatlist{
  background-image: url(/images/friends.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 400px 300px;
  min-height: 500px;
}

.background-chat{
  background-image: url(/images/chat.svg);
  background-repeat: no-repeat;
  background-size: 400px 300px;
  min-height: 400px;
}
.box-chatroom{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  border-radius: 10px;
  padding: 15px;
  max-height: 450px;
  min-height: 450px;
  overflow: auto;
}

.box-date{
 margin-bottom: 20px;
}

.box-message{
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.box-message .input-field .prefix {
  color: #fff;
}

.box-message .input-field {
  width: 100%;
}

.title-chat{
  padding-top: 15px;
  padding-bottom: 5px;
}

.btn-message{
  margin-top: 22px;
  width: 100px;
  margin-left: 5px;
}

.rce-mbox-text {
  margin-right: 45px;
}

.rce-citem{
  background-color: transparent ;
  color: #fff;
}

.rce-citem-body--bottom-title {
  color: #fff;
}

.rce-citem-body--top-time {
  color: #fff;
}

.rce-citem:hover {
  background-color: rgba(0,0,0,0.1);
}

.rce-mbox-right-notch {
  fill: #1488CC;
}

.rce-mbox.rce-mbox-right {
  background: #1488CC;
  color: #fff
}

.rce-container-mlist{
  margin-bottom: 3px;
}

.rce-mbox-time{
 font-size: 10px;
}
@media only screen and (max-width: 600px) {
 .box-chatroom{
   width: 100%;
   max-height: 520px;
   overflow: auto;
 }

 .background-chatlist{
  background-size: 300px 300px;
  max-height: 100vh;
  background-position: bottom;
}

 .box-message{
  width: 90%;
 }

 .background-chat{
  background-image: none;
}
}